{% load static %}
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'style.css'%}" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/js"></script>
  </head>
  <body>
    <div class="container-fluid" style="height:100%;background-image: url('{% static 'windows_xp_bliss-1280x720.jpg'%}');background-size:100%;">
      <div class="row" style="height:100%">
	<div class="col-lg-0 vcenter">
	  <div style="height:100%;"></div>
	</div><!--
		--><div class="col-lg-2"></div>
	<div class="col-lg-8 vcenter" style="background-color: rgba(255,0,0,0.3);">
	  <div class="text-center" >
	    <h1 style="color:red;">  Spencer<br> Taylor</h1>
	    <h2 style="color:white;"><i>Designer Extraordinaire</i></h2>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
