<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/js"></script>
    <style type="text/css">
      @font-face {
        font-family: "Airstrike Custom Font";
        src: url("/static/airstrikelaser.ttf");
      }
      .customfont {
        font-family: "Airstrike Custom Font", Verdana, Tahoma;
      }
    </style>
    <style>@media print {#ghostery-purple-box {display:none !important}}</style>
  </head>
  <body>
    <div class="container-fluid" style="height:100%;background-image: url('/static/yegarret.jpg');background-size:100%;">
      <div class="row" style="height:100%">
	<div class="col-lg-0 vcenter">
	  <div style="height:100%;"></div>
	</div><!--
		--><div class="col-lg-3"></div>
	<div class="col-lg-6 vcenter" style="background-color: rgba(255,0,0,0.5); height:500;">
	  <div class="row">
	    <div class="col-lg-1" style="height:100%"></div>
	    <div class="col-lg-10" style="display: flex;flex-direction: column;justify-content: center; height:100%">
	      <h1 class="customfont text-center" style='font-size:75px; color:white;'>  Spencer &nbsp; &nbsp; <br>&nbsp; &nbsp; Taylor</h1>
	      <h2 class="text-center">Web Designer, Programmer, and Analyst Extraordinaire</h2>
	    </div><!-- col-lg-10 -->
	  </div><!-- row -->
	</div><!--col-lg-6 -->
      </div><!--row -->
    </div><!--container-fluid-->
  </body>
</html>
